.main-header {
    background-color: $header-bg;
    padding: 24px 0;

    .header-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo-cont {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &__logo-img {
            width: 56.27px;
            max-height: auto;
        }

        &__logo-name {
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin-bottom: 4px;
        }
        &__logo-description{
            font-weight: 200;
            line-height: 1.2rem;

        }
        &__nav-cont{
            flex: 1;
            max-width: 672px;
        }

        &__nav {
            display: flex;
            justify-content: space-between;
            // gap: clamp(0px, 4vw, 50px);

            &-link {
                font-weight: 200;
                font-size: 0.875rem;
                line-height: 1.05rem;
                padding: 10px 20px;

                white-space: nowrap;

                &--active {
                    border: 0.8px solid black;
                    border-radius: 20px;
                }

                &--blue {
                    font-weight: 300;
                    padding: 0.625rem 1.875rem;
                    border-radius: 20px;

                    
                    &:hover{
                        background-color: $header-bg;
                    }
                }

            }
        }
    }
}