.main-header {
    background-color: $header-bg;
    padding: 24px 0;

    .header-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo-cont {
            display: flex;
            align-items: center;
            gap: 12px;
        }

        &__logo-img {
            width: 56.27px;
            max-height: auto;
        }

        &__logo-name {
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin-bottom: 4px;
        }
        &__logo-description{
            line-height: 1.2rem;

        }

        &__nav {
            display: flex;
            gap: clamp(0px, 4vw, 50px);

            &-link {
                font-size: 0.875rem;
                line-height: 1.05rem;
                white-space: nowrap;

                &--active {
                    text-decoration: underline;
                }

                &--blue {
                    background-color: $header-link-bg;
                    color: white;
                    
                    padding: 0.625rem 1.875rem;
                    border-radius: 20px;
                }
            }
        }
    }
}