.hero {
    display: flex;
    justify-content: space-between;
}
.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__img-cont{
    position: relative;

    &::after,
    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &::after {
        width: 325.62px;
        height: 313.4px;
        background-image: url("././assets/icons/hero-bg-item-circle.svg");
    }

    &::before {
        width: 466px;
        height: 206px;
        background-image: url("././assets/icons/hero-bg-item-star.svg");
    }

    &--left{
        &::after {
            top: 10px;
            left: 20px;
        }
    
        &::before {
            top: 215px;
            left: 200px;
            rotate: 180deg;
        }
    }

    &--right{
        &::after {
            bottom: 70px;
            right: 50px;
            rotate: 180deg;

        }
    
        &::before {
            top: 25px;
            left: -200px;
        }
    }
}
.hero__title {
    max-width: 617px;

    font-size: 2.25rem;
    line-height: 2.875rem;
    margin-top: 135px;
}

.hero__find-pet-butt {
    position: relative;
    margin: 100px auto 0;
    @include btn(transparent, $header-link-bg, 30px, white, 1.5rem, 12px, 60px);
    transition: 0.3s ease-in-out;

    &::after,
    &::before {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        width: 266.39px;      
        z-index: 1;    
    }

    &::after {
        height: 191.98px;

        bottom: 0;
        left: -425px;
        background-image: url("././assets/icons/drown-dog.svg");
    }

    &::before {
        height: 218.62px;
      
        bottom: 0;
        right: -425px;
        background-image: url("././assets/icons/drown-cat.svg");
    }
}
.hero__find-pet-butt:hover {
    @include btn($header-link-bg, white, 30px, $header-link-bg, 1.5rem, 12px, 60px);
}

.hero__img {
    &--dog {
        max-width: 547.05px;
        max-height: 552.25px;
    }
    &--cat {
        max-width: 547.05px;
        max-height: 552.25px;
    }

    
}



.blue-butt {
}