.pets-section {
  margin-top: 40px;

  &__filter-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__type-filter {
    display: flex;
    gap: 40px;
  }

  &__type-filter-item {
    line-height: 1.2rem;
    cursor: pointer;
  }

  &__type-filter-item--active {
    text-decoration: underline;
  }

  &__filter-button {
    // Пустой стиль, можно использовать для будущих изменений
  }

  &__pets-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Всегда 3 колонки
    gap: 30px 45px;
  }

  &__pet-item {
    max-width: 100%;
    cursor: pointer;
  }

  &__pet-img {
    margin-bottom: 20px;
  }

  &__pet-info-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__pet-name-age-cont {
    display: flex;
    gap: 15px;
  }

  &__pet-name {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: auto;
  }

  &__pet-age {
    line-height: 1.375rem;
    font-weight: 500;
    margin-top: auto;
  }

  &__pet-gender {
    // Пустой стиль, можно использовать для будущих изменений
  }

  &__pet-description {
    line-height: 1.375rem;
    font-weight: 300;
  }
}
