.pets-section {
  margin-top: 40px;

  &__filter-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__type-filter {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__type-filter-item {
    line-height: 1.375rem;
    font-weight: 200;
	padding: 0.3125rem 1.5625rem;
	border: 1px solid transparent;

    cursor: pointer;

    &--active {
      border-color: black;
      border-radius: 20px;
    }
  }

  &__filter-button {
    font-weight: 200;
  }

  &__pets-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px 45px;
  }

  &__pet-item {
    cursor: pointer;
	
  }

  &__pet-img {
    margin-bottom: 20px;
	width: 370px; 
    height: 280px;

    border-radius: 8px;
	object-fit: cover;  
	overflow: hidden; 
  }

  &__pet-info-cont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__pet-name-age-cont {
    display: flex;
    gap: 15px;
  }

  &__pet-name {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: auto;
  }

  &__pet-age {
    line-height: 1.375rem;
    font-weight: 400;
    margin-top: auto;
  }

  &__load {
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
  }

  &__pet-description {
    line-height: 1.375rem;
    font-weight: 100;
  }
}
