@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Black-Italic.otf') format('opentype');
//     font-weight: 900;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Black.otf') format('opentype');
//     font-weight: 900;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Bold-Italic.otf') format('opentype');
//     font-weight: 700;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Bold.otf') format('opentype');
//     font-weight: 700;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Extrabold-Italic.otf') format('opentype');
//     font-weight: 800;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Light-Italic.otf') format('opentype');
//     font-weight: 300;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Light.otf') format('opentype');
//     font-weight: 300;
//     font-style: normal;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Medium-Italic.otf') format('opentype');
//     font-weight: 500;
//     font-style: italic;
//   }
  
//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Medium.otf') format('opentype');
//     font-weight: 500;
//     font-style: normal;
//   }

//   @font-face {
//     font-family: 'Factor A';
//     src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Regular-Italic.otf') format('opentype');
//     font-weight: 400;
//     font-style: italic;
//   }
  
  @font-face {
    font-family: 'FactorA';
    src: url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Regular.woff2') format('woff2'),
         url('./fonts/FactorA-TRIAL/TRIAL_FactorA-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  